<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Dados customer</h2>
  <form action="{% url 'search_consumer:search_data' %}" method="get" name="">
    {% csrf_token %}  
    <div class="form-group">
      <label for="usr">Digite o CNPJ:</label>
      <input type="text" name="data" value="" class="form-control" id="usr">
      <input type="submit" value="Buscar" class="btn btn-primary">
      <table id="example" class="table table-bordered  table-striped display" style="width:100%;box-shadow: 0px 1px 7px #776f6f;font-size: 90%;font-weight: 500;font-family: Georgia, 'Times New Roman', Times, serif;">
        <thead>
            <tr>
             
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Genero</th>
              <th>Nº Documento</th>
              <th>Nasc.</th>
              
        
             </tr>
        </thead>
        <tbody>

          {% for i in data %}
          
            <tr class="gray">
              
              <td>{{i.first_name}}</td>
              <td>{{i.last_name}}</td>
              <td>{{i.phone_number}}</td>
              <td>{{i.genre}}</td>
              <td>{{i.document_id}}</td>
              <td>{{i.birth_date}}</td>
              
            </tr> 
            {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
             
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Genero</th>
              <th>Nº Documento</th>
              <th>Nasc.</th>

            </tr>
        </tfoot>
</table>
    
    </div>
  </form>
</div>

</body>
</html>
